.card {
  min-width: 200px;
  max-width: 300px;
  border-radius: 10px;
  border: 1px solid black;
  margin-bottom: 20px;
  box-shadow: 1px 1px 1px 5px rgb(224, 221, 221);
  padding: 5px;
}

.card__body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card__img {
  border-radius: 10px;
}

.card__content {
  flex: 1;
}

.card__controls {
  margin-top: auto;
}

.btn {
  background: black;
  margin-left: 10px;
}
