.card {
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 1px 1px 1px 5px rgb(224, 221, 221);
  padding: 5px;
}

.card__body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card__img {
  border-radius: 10px;
}

.card__content {
  flex: 1;
}

.card__controls {
  margin-top: auto;
  display: flex;
  max-height: 10%;
}

.btn {
  background: black;
  margin-left: 10px;
}

.card__controls_show {
  width: 55px;
  transform: rotate(-90deg);
  margin-left: auto;
  cursor: pointer;
}

.card__controls_show:hover {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}
