.card {
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 1px 1px 1px 5px rgb(224, 221, 221);
  padding: 5px;
}

.card__body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card__img {
  border-radius: 10px;
  cursor: pointer;
}

.card__content {
  flex: 1;
  margin-bottom: 10px;
}

.card__controls {
  margin-top: auto;
  display: flex;
  justify-content: center;
  max-height: 10%;
}

.btn {
  background: black;
  width: 50%;
}
