:root {
  --colorDark: #000;
  --colorLight: #ffffff;
  --lightGray: #f4f6f5;
  --yellow: #ebd96b;
  --gray: #7f7f7f;

  --spacing-xs: 8px;
  --spacing-sm: 16px;
  --spacing-md: 32px;
  --spacing-lg: 46px;
  --spacing-bg: 65px;

  --size-xs: 12px;
  --size-sm: 16px;
  --size-md: 22px;
  --size-bd: 30px;
  --size-lg: 40px;
  --size-el: 64px;
  --size-eb: 96px;

  --borderRadius: 10px;
  --borderRadiusBig: 60px;

  --transition: all 0.3s ease;
}
body {
  color: var(--textColor);
}

.container {
  max-width: 1780px;
  margin: 0 auto;
  padding: 0 30px;
}

.title_2 {
  position: relative;
  display: inline-block;
  font-weight: 900;
  font-size: 48px;
  line-height: 1.04;
  letter-spacing: 0.06em;
}

.title_2::after {
  content: '';
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 0;
  width: 190px;
  height: 32px;
  background-image: url('/icons/decor-yellow.svg');
  background-repeat: no-repeat;
}
