.button {
  border: none;
  border-radius: 0.75rem;
  font-family: Inter, sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  transition: background-color 0.3s ease;
  position: relative;
  padding: 0.75rem 1.25rem;
  cursor: pointer;
  background-color: #3b82f6; /* blue-500 */
  color: white;
}

.button:hover:not([disabled]) {
  background-color: #4f83fc;
}

.button[disabled] {
  cursor: not-allowed;
  background-color: #93c5fd;
}

.button__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 1.25rem;
  width: 1.25rem;
}

.button__textWithIcon {
  padding-left: 2rem;
}
